.opinion {
    position: relative;
    min-height: 537px;
    width: 100%;
    background-image: url(../img/backgrounds/bg-4.jpg);
    background-size: cover;
    background-attachment: fixed;
    flex-direction: column;
    justify-content: start !important;
    overflow: hidden;
    margin-top: 100px;
}


.opinion>p:nth-child(1) {
    margin-top: 95px;
    margin-bottom: 25px;
    letter-spacing: 1px;
    font-size: 35px;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    line-height: 1;
    color: white;
}

.opinion>p:nth-child(2) {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #d3d3d3;
    margin-bottom: 35px;
}

.forflex{
    width: 300%;
    position: absolute;
    top: 50%;
    left: -100%;
    transition: all 0.01s;
    
}

.opinionblock {
    flex-direction: column;
    width:  33.3333%;
    transition: all 0.01s;
}

.opinionblock>a {
    text-decoration: none;
    color: rgb(145, 218, 50);
    margin-bottom: 20px;
}


.opiniontext {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0;
    font-weight: 300;
    line-height: 32px;
    color: white;
    opacity: 0.7;
    margin: 0 70px;
    width: 70%;
}

.hrwhite {
    background-color: rgb(122, 122, 122);
    margin-bottom: 40px;
}

.client {
    border-radius: 50%;
    overflow: hidden;
}

.client>img {
    transform: scale(1.1);
}

.clientname {
    color: white;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Exo', sans-serif;
}
